Задача 44: В ячейке ниже представлен код генерирующий DataFrame, которая состоит всего
из 1 столбца. Ваша задача перевести его в one hot вид. Сможете ли вы это сделать без
get_dummies?

In [1]:
import pandas as pd
import numpy as np 
import random

In [2]:
lst = ['robot'] * 10

In [3]:
lst += ['human'] * 10

In [4]:
random.shuffle(lst)

In [5]:
data = pd.DataFrame({'whoAmI':lst})

In [6]:
data.head(10)

  whoAmI
0  robot
1  robot
2  human
3  human
4  robot
5  human
6  robot
7  human
8  human
9  human

In [7]:
data['tmp'] = 1

In [8]:
data.set_index([data.index, 'whoAmI'], inplace=True)

In [9]:
data = data.unstack(level=-1, fill_value = 0).astype(int)

In [10]:
data.columns = data.columns.droplevel()

In [11]:
data.columns.name = None

In [12]:
data.head(10)

   human  robot
0      0      1
1      0      1
2      1      0
3      1      0
4      0      1
5      1      0
6      0      1
7      1      0
8      1      0
9      1      0